body{
    margin:0;
    font-family:'Segoe UI', sans-serif;
    background: linear-gradient(135deg,#fdfbfb,#ebedee);
    text-align:center;
}

/* Header */
header{
    background: linear-gradient(90deg,#ff512f,#dd2476);
    color:white;
    padding:50px;
}

header h1{
    font-size:40px;
}

/* Card Sections */
.card{
    background:white;
    max-width:700px;
    margin:40px auto;
    padding:30px;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,0.1);
}

/* Inputs */
input{
    width:70%;
    padding:12px;
    margin:10px;
    border-radius:8px;
    border:1px solid #ccc;
    font-size:16px;
}

/* Button */
button{
    background: linear-gradient(90deg,#36d1dc,#5b86e5);
    color:white;
    padding:14px 30px;
    border:none;
    border-radius:25px;
    font-size:18px;
    cursor:pointer;
}

button:hover{
    transform:scale(1.05);
}

/* Result */
#result{
    margin-top:25px;
    font-size:22px;
    font-weight:bold;
}

/* Footer */
footer{
    background:#222;
    color:white;
    padding:20px;
}
